.container {
  width: 100%;
  padding: 0 3rem;
  margin: auto;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out; /* Transition for smooth animation */
  margin-top: 4rem;
  transition: margin-top 0.3s ease-in-out; /* Transition for smooth animation */
}

.topBar-hidden {
  transform: translateY(0);
  margin-top: 0;
  height: 100vh;
}

/* For Webkit browsers like Chrome/Safari */
.container::-webkit-scrollbar {
  width: 8px; /* Adjust width of scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; /* Round the edges of the scrollbar */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Brighter color on hover */
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Background of the scrollbar track */
}
